*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  width: 15%;
  height: 60px;
}

   
   /* -----------------HEADER---------------- */
   .header{
     background-color: darkorange;
     width: 100%;
     height: 120px;
   }

   .headerlogo{
     text-align: center;
     padding-top: 10px;
   }

  #logo{
    width: 40%;
    text-align: center;
    height: 100px;
  }
  /*-------------------NAVİGATİON BAR------------ */
  
  .nav{
    width: 100%;
    background-color: darkorange;
    margin-top:10px ;
    border-radius: 10px;
    text-align: center;
  }

  .nav ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  .nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
  }

  .nav ul li:hover{
    background-color: darkturquoise;
  }

  #icon{
    height: 20px;
  }
  
    @media (max-width:768px )
  {
    
  
    .nav ul{
      width: 100%;
    }

    .nav ul li{
      display: block;
      text-align: center;
    }
  }
  /* ----------------------CONTENT ------------------------- */
  /* İndex */
  /* İndex */
  /* İndex */
  
  .mainimg{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 60%;
  }

  #maincontent{
    border: 2px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 60%;
  }

  #maincontent h2{
    text-align: center;
  }
  
  #maincontent p{
    text-align: center;
    padding-bottom: 10px;
  }

  /* Hizmet */
  /* Hizmet */
  /* Hizmet */

  #hizmeth2{
    border:1px solid darkorange;
    border-radius: 5px;
    margin-top: 10px;
    background-color: darkorange;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #hizmettext{
    border:1px solid black;
    border-radius: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #hizmetimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  /* Kurumsal */
  /* Kurumsal */
  /* Kurumsal */

  .kurtext{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .kurtext div{
    width: 30%;
    border: 1px navajowhite;
    border-radius: 5px;
    background-color: navajowhite;
    text-align: center;
    padding: 7px;
  }

  /* Kariyer */
  /* Kariyer */
  /* Kariyer */

  .kariyerh2{
    border: 2px orange;
    border-radius: 5px;
    text-align: center;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;    
    width: 70%;
  }

  .kariyercontent{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .kariyercontent img{
    width: 60%;
    margin-top: 5px;
  }

    /* İletişim */
    /* İletişim */
    /* İletişim */

  .iletişimbil{
    text-align: center;
    margin-top: 5px;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  .iletişimbil ul{
    list-style-type: none;
  }

  .iletişimbil h1{
    font-size:160% ;
  }

  iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 60%;
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
  }
   /* --------------------- FOOTER ---------------------------*/
  
   footer {
    width: 100%;
    background-color: darkorange;
    position: relative;
    height: 60px;
   }

   footer .içerik{
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: center;
   }

   #footercontent{
     font-size: 25px;
     padding-top: 15px;
     padding-bottom: 10px;

   }

   footer .içerik ul {
     display: flex;
     padding-top: 15px;
     padding-bottom: 10px;
   }

   footer .içerik ul li{
    list-style-type: none;
   }
   
   #socialimg{
     width: 35px;
     padding-left: 5px;
     display: inline-block;
   }

   @media (max-width:300px)
   {

    #footercontent{
      font-size: 20px;
    }

    #socialimg{
      width: 30px;
    }

   }